@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to the Feature Toggles Dojo App</h1>
  <p>This app is heavily inspired by the <a
      href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/older-versions/mvc-music-store/mvc-music-store-part-1">MVC
      Music Store App</a></p>
</div>
